body {
    font-family: Arial, sans-serif;
    width: max-content;
    padding-right: 5px;
}

h1 {
    font-size: 16px;
}

input {
    width: 92.5%;
    margin-bottom: 5px;
    padding: 8px
}

button {
    width: 100%;
    padding: 8px;
}
